<br>
<!--留言的显示区-->
<% post.comments.forEach(function(comment){ %>
<p>
    <a href="/u/<%= comment.name %>"><%= comment.name %></a>
    <span class="info">回复 <a href="/u/<%= post.name %>"><%= post.name %></a> 于<%= comment.time %></span>
</p>
<p><%- comment.content %></p>
<% }) %>
<% if(user){ %>
    <form method="post" action="/comment/<%= post.name %>/<%= post.time.minute %>/<%= post.title %>">
        发布人:
        <a href="/u/<%= user.name %>"><%= user.name %></a>
        <input type="hidden" name="name" value="<%= user.name %>">
        <textarea name="content" id="" cols="80" rows="20"></textarea>
        <input type="submit" value="留言">
    </form>
<% }else{ %>
    请先 <a href="/login">登录</a>或者 <a href="/reg">注册</a>
    <textarea name="content" cols="80" rows="20" id="text"></textarea>
    <input type="submit" value="留言" id="sub">
<% } %>
<script>
    window.onload = function () {
        var text = document.querySelector('#text');
        var sub = document.querySelector('#sub');
        sub.onclick = function () {
            location.href = '/login'
        }
        text.onfocus = function () {
            location.href = '/login'
        }
    }
</script>